@using BootstrapSupport
@model MiniAmazon.Web.Models.AccountResetInModel
@{
    ViewBag.Title = "Resset";
}

@{
    Html.BeginForm("Resset", "Account", FormMethod.Post);

    <h2>Resset password</h2>

    @Html.HiddenFor(x => x.Email);
    @Html.HiddenFor(x => x.Id);
    @Html.PasswordFor(x=>x.Password, new {@class="input-block-level",@placeholder="Password Old"})
    @Html.PasswordFor(x=>x.PasswordNew, new {@class="input-block-level",@placeholder="Password New"})
    @Html.PasswordFor(x=>x.Password2, new {@class="input-block-level",@placeholder="Password Repeat"})
    
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    @Html.ActionLink("Cancel", "Index", "Dashboard");
}